
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="jumbotron">
            <h1>{{ post.title }}</h1>
            <p class="lead">By {{post.author}} on {{ post.date }}</p>
            <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/" role="button">{{post.content}} &raquo;</a>
        </div>
    {% endfor %}
{% endblock %}