{% extends "layout.html" %}
{% block content %}
        <div class="content-section">
           <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class=form-group>
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-constrol-label")  }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-constrol-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %} 
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-constrol-lg")}}
                    {% endif %}    
                </div>                
                
                <div class="form-group">
                    {{ form.password.label(class="form-constrol-label")  }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-constrol-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %} 
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-constrol-lg")}}
                    {% endif %}    
                </div>                

            <div class="form-check">
                {{form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}

            </div>

        </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")  }}
            </div>
           </form>
        </div>
{% endblock %}