
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">

                    <p class="lead">By {{post.author.username}} on {{ post.date_posted.strftime('%d. %m. %Y') }}</p>
                </div>
                <h1>{{ post.title }}</h1>
                
                <p>{{post.content}} </p>
    

            </div>
        </article>
    {% endfor %}
{% endblock %}