{% extends "layout.html" %}
{% block content %}

<table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Název</th>
                <th scope="col">Energie</th>
                <th scope="col">Cukry</th>
                <th scope="col">Tuky</th>
                <th scope="col">Bílkoviny</th>
              </tr>
            </thead>
            <tbody>

    {% for sur in suroviny %}
              <tr>
                <td>{{ sur.name }}</td>
                <td>{{ sur.energy }}</td>
                <td>{{ sur.carb }}</td>
                <td>{{ sur.fat }}</td>
                <td>{{ sur.prot }}</td>
              </tr>        
    {% endfor %}
</tbody>
</table>

{% endblock %}