<template>

  <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Jídelníček</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#" @click="page = 'ingred'">Ingredience</b-nav-item>
        <b-nav-item href="#" @click="page = 'recipe'">Recepty</b-nav-item>
        <b-nav-item href="#" @click="page = 'diet'">Jídelníček</b-nav-item>
      </b-navbar-nav>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>

  <recipe v-if="page == 'recipe'" />
  <ingred v-if="page == 'ingred'" />
  <diet v-if="page == 'diet'" />
</div>

</template>

<script>
export default {
data(){
    return {
        page: "diet"
    }
},
methods:{

    
}
}
</script>