<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Ingredience</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
          <button type="button" class="btn btn-success btn-sm" v-b-modal.ingred-modal>
          Přidat ingredienci
          </button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Název</th>
              <th scope="col">Energie</th>
              <th scope="col">Cukry</th>
              <th scope="col">Tuky</th>
              <th scope="col">Bílkoviny</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ingred, index) in ingredients" :key="index">
              <td>{{ ingred.name }}</td>
              <td>{{ ingred.energy }}</td>
              <td>{{ ingred.carb }}</td>
              <td>{{ ingred.fat }}</td>
              <td>{{ ingred.prot }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-warning btn-sm"
                          v-b-modal.ingred-update-modal
                          @click="editIngred(ingred)">
                      Update
                  </button>
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeleteIngred(ingred)">
                      Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addIngredModal"
            id="ingred-modal"
            title="Přidat ingredienci"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-name-group"
                    label="Název:"
                    label-for="form-name-input">
          <b-form-input id="form-name-input"
                        type="text"
                        v-model="addIngredForm.name"
                        required
                        placeholder="Název suroviny">
          </b-form-input>
        </b-form-group>

        <b-form-group id="form-energy-group"
                      label="Energyie:"
                      label-for="form-energy-input">
            <b-form-input id="form-energy-input"
                          type="number"
                          v-model="addIngredForm.energy"
                          required
                          placeholder="Enter energy">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-carb-group"
                      label="carb:"
                      label-for="form-carb-input">
            <b-form-input id="form-carb-input"
                          type="number"
                          v-model="addIngredForm.carb"
                          required
                          placeholder="Enter carb">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-fat-group"
                      label="fat:"
                      label-for="form-fat-input">
            <b-form-input id="form-fat-input"
                          type="number"
                          v-model="addIngredForm.fat"
                          required
                          placeholder="Enter fat">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-prot-group"
                      label="prot:"
                      label-for="form-prot-input">
            <b-form-input id="form-prot-input"
                          type="number"
                          v-model="addIngredForm.prot"
                          required
                          placeholder="Enter prot">
            </b-form-input>
          </b-form-group>

        <b-button-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-button-group>
      </b-form>
    </b-modal>


    <b-modal ref="editIngredModal"
            id="ingred-update-modal"
            title="Update"
            hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
                    label="Název:"
                    label-for="form-name-edit-input">
          <b-form-input id="form-name-edit-input"
                        type="text"
                        v-model="editForm.name"
                        required
                        placeholder="Název suroviny">
          </b-form-input>
        </b-form-group>

        <b-form-group id="form-energy-edit-group"
                      label="Energyie:"
                      label-for="form-energy-edit-input">
            <b-form-input id="form-energy-edit-input"
                          type="number"
                          v-model="editForm.energy"
                          required
                          placeholder="Enter energy">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-carb-edit-group"
                      label="carb:"
                      label-for="form-carb-edit-input">
            <b-form-input id="form-carb-edit-input"
                          type="number"
                          v-model="editForm.carb"
                          required
                          placeholder="Enter carb">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-fat-edit-group"
                      label="fat:"
                      label-for="form-fat-edit-input">
            <b-form-input id="form-fat-edit-input"
                          type="number"
                          v-model="editForm.fat"
                          required
                          placeholder="Enter fat">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-prot-edit-group"
                      label="prot:"
                      label-for="form-prot-edit-input">
            <b-form-input id="form-prot-edit-input"
                          type="number"
                          v-model="editForm.prot"
                          required
                          placeholder="Enter prot">
            </b-form-input>
          </b-form-group>

        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      ingredients: [],
      addIngredForm: {
        name: '',
        energy: '',
        prot: '',
        carb: '',
        fat: '',
      },
      message: '',
      showMessage: false,
      editForm: {
        id: '',
        name: '',
        energy: '',
        prot: '',
        carb: '',
        fat: '',
      },
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getIngreds() {
      const path = 'http://localhost:5000/ingreds';
      axios.get(path)
        .then((res) => {
          this.ingredients = res.data.ingredients;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addIngred(payload) {
      const path = 'http://localhost:5000/ingreds';
      axios.post(path, payload)
        .then(() => {
          this.getIngreds();
          this.message = 'Ingredience přidána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getIngreds();
        });
    },
    initForm() {
      this.addIngredForm.name = '';
      this.addIngredForm.energy = '';
      this.addIngredForm.prot = '';
      this.addIngredForm.carb = '';
      this.addIngredForm.fat = '';

      this.editForm.id = '';
      this.editForm.name = '';
      this.editForm.energy = '';
      this.editForm.prot = '';
      this.editForm.carb = '';
      this.editForm.fat = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addIngredModal.hide();

      const payload = {
        name: this.addIngredForm.name,
        energy: this.addIngredForm.energy,
        prot: this.addIngredForm.prot,
        carb: this.addIngredForm.carb,
        fat: this.addIngredForm.fat,
      };
      this.addIngred(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addIngredModal.hide();
      this.initForm();
    },
    editIngred(ingred) {
      this.editForm = ingred;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editIngredModal.hide();

      const payload = {
        name: this.editForm.name,
        energy: this.editForm.energy,
        prot: this.editForm.prot,
        carb: this.editForm.carb,
        fat: this.editForm.fat,
      };
      this.updateIngred(payload, this.editForm.id);
    },
    updateIngred(payload, ingredID) {
      const path = `http://localhost:5000/ingreds/${ingredID}`;
      axios.put(path, payload)
        .then(() => {
          this.getIngreds();
          this.message = 'Ingredience upravena!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getIngreds();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editIngredModal.hide();
      this.initForm();
      this.getIngreds(); // why?
    },
    removeIngred(ingredID) {
      const path = `http://localhost:5000/ingreds/${ingredID}`;
      axios.delete(path)
        .then(() => {
          this.getIngreds();
          this.message = 'Ingredience smazána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getIngreds();
        });
    },
    onDeleteIngred(ingred) {
      this.removeIngred(ingred.id);
    },
  },
  created() {
    this.getIngreds();
  },
};
</script>
