<template>
  <div class="container">
      <alert :message=message v-if="showMessage"></alert>
      <div class="row">
      <div class="col-sm-10">

      <div>
        <b-dropdown text="Vyber recept" class="m-md-2">
          <b-dropdown-item v-for="(recipe, index) in recipelist" :key="index" @click="changeRecipe(recipe)" >{{recipe.name}}</b-dropdown-item>
        </b-dropdown>

        <button type="button" class="btn btn-success btn" v-b-modal.recipe-create-modal>
          Nový
      </button>
      </div>
      
      
      <br>

        <h1>{{recipe.name}} <button type="button" class="btn btn-danger btn-sm"  @click="deleteRecipe()">
        Smazat
        </button></h1>
        
        
        <hr>
        <p>Recept: {{recipe.notes}}</p>
        <p>Palivo: {{recipe.fuel}}</p>


      <div id="chart">
        <apexchart width="350"  type="donut" :options="chartOptions" :series="series"></apexchart>
      </div>
    
        <br> 
        <button type="button" class="btn btn-info btn-sm" v-b-modal.recipe-update-modal @click="initForm()">
          Edit
        </button>
        <br>
        <br>

    <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Název</th>
              <th scope="col">Energie</th>
              <th scope="col">Cukry</th>
              <th scope="col">Tuky</th>
              <th scope="col">Bílkoviny</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ingred, index) in recipe.link_ingreds" :key="index">
              <td>{{ ingred.ingred.name }}</td>
              <td>{{ ingred.ingred.energy }}</td>
              <td>{{ ingred.ingred.carb }}</td>
              <td>{{ ingred.ingred.fat }}</td>
              <td>{{ ingred.ingred.prot }}</td>
              <td>
              <td>
                <b-form-input
                  type="number"
                  v-model="ingred.amount"
                  required
                  placeholder="amount" @input="createdPlotly()">
                </b-form-input>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-info btn-sm"
                          @click="updateInRecipe(ingred)">
                      Update
                  </button>
                </div>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="removeFromRecipe(ingred)">
                      Remove
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <h1>Ingredience</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Název</th>
              <th scope="col">Energie</th>
              <th scope="col">Cukry</th>
              <th scope="col">Tuky</th>
              <th scope="col">Bílkoviny</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ingred, index) in ingredients" :key="index">
              <td>{{ ingred.name }}</td>
              <td>{{ ingred.energy }}</td>
              <td>{{ ingred.carb }}</td>
              <td>{{ ingred.fat }}</td>
              <td>{{ ingred.prot }}</td>
              <td>

              <td>
                <b-form-input
                  type="number"
                  v-model="ingred.amount"
                  required
                  placeholder="amount">
                </b-form-input>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-success btn-sm"
                          @click="addToRecipe(ingred)">
                      Add
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <b-modal ref="editRecipeModal"
            id="recipe-update-modal"
            title="Upravit recept"
            hide-footer>
        <b-form @submit="onSubmitUpdateRecipe" class="w-100">
        <b-form-group id="form-name-edit-group"
                      label="Název:"
                      label-for="form-name-edit-input">
            <b-form-input id="form-name-edit-input"
                          type="text"
                          v-model="editForm.name"
                          required
                          placeholder="Název jídla">
            </b-form-input>
          </b-form-group>

          <b-form-group id="form-notes-edit-group"
                        label="Recept:"
                        label-for="form-notes-edit-input">
              <b-form-input id="form-notes-edit-input"
                            type="text"
                            v-model="editForm.notes"
                            
                            placeholder="Recept">
              </b-form-input>
            </b-form-group>

          <b-form-group id="form-fuel-edit-group"
                        label="Palivo:"
                        label-for="form-fuel-edit-input">
              <b-form-input id="form-fuel-edit-input"
                            type="number"
                            v-model="editForm.fuel"
                            
                            placeholder="Množství paliva">
              </b-form-input>
            </b-form-group>


          <b-button-group>
            <b-button type="submit" variant="primary">Update</b-button>
          </b-button-group>
        </b-form>
    </b-modal>

<b-modal ref="createRecipeModal"
            id="recipe-create-modal"
            title="Nový recept"
            hide-footer>
      <b-form @submit="onSubmitCreateRecipe" class="w-100">
      <b-form-group id="form-name-create-group"
                    label="Název:"
                    label-for="form-name-create-input">
          <b-form-input id="form-name-create-input"
                        type="text"
                        v-model="createForm.name"
                        required
                        placeholder="Název jídla">
          </b-form-input>
        </b-form-group>

        <b-form-group id="form-notes-create-group"
                      label="Recept:"
                      label-for="form-notes-create-input">
            <b-form-input id="form-notes-create-input"
                          type="text"
                          v-model="createForm.notes"
                          placeholder="Recept">
            </b-form-input>
          </b-form-group>

        <b-form-group id="form-fuel-create-group"
                      label="Palivo:"
                      label-for="form-fuel-create-input">
            <b-form-input id="form-fuel-create-input"
                          type="number"
                          v-model="createForm.fuel"
                          placeholder="Množství paliva">
            </b-form-input>
          </b-form-group>


        <b-button-group>
          <b-button type="submit" variant="primary">Save</b-button>
        </b-button-group>
      </b-form>
    </b-modal>

  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';
import { Plotly } from 'vue-plotly';
import VueApexCharts from 'vue-apexcharts';


export default {
  data() {
    return {
      recipeID:1,
      ingredients: [],
      recipe: [],
      recipelist: [],
      message: '',
      showMessage: false,
      editForm:{
        name:'',
        fuel:'',
        notes:'',
      },
      createForm:{
        name:'',
        fuel:'',
        notes:'',
      },
          
          series: [10,20,30],
          chartOptions: {
            chart: {
              height: 350,
              type: 'donut',
            },
            labels: ["protein","carb","fat"], 
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }],
          },

 loaded: false, 
            pageViewsByCategoryData: [
            {
                values: [0,0,0],
                type: 'pie'
            }
        ],
            layout: {
                title: "My graph",
                width:500,
                barmode:'stack',
                responsive: "true",
            }


    };
  },
  components: {
    alert: Alert,
    plotly:Plotly,
    apexchart: VueApexCharts,
  },
  methods: {
 createdPlotly() {

var arr=[0,0,0]
for(var i in this.recipe.link_ingreds) 
{

arr[0]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.prot/100);
arr[1]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.carb/100);
arr[2]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.fat/100);

}
this.series=arr
//this.pageViewsByCategoryData.values.pop()

        this.loaded = true;
    },


     initForm() {
      this.editForm.name = this.recipe.name;
      this.editForm.notes = this.recipe.notes;
      this.editForm.fuel = this.recipe.fuel;
    },
    getIngreds() {
      const path = 'http://localhost:5000/ingreds';
      axios.get(path)
        .then((res) => {
          this.ingredients = res.data.ingredients;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      },

    getRecipeIngreds() {

      const path = `http://localhost:5000/recipe?recipe_id=${this.recipeID}`;
      axios.get(path)
        .then((res) => {
          this.recipe = res.data.recipe;
          this.createdPlotly();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    getRecipeList() {
      const path = `http://localhost:5000/recipe?list`;
      axios.get(path)
        .then((res) => {
          this.recipelist = res.data.recipelist;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    addToRecipe(ingred) {
      const payload = {
        recipe_id:this.recipeID,
        ingred_id: ingred.id,
        amount: ingred.amount,
      };

      const path = 'http://localhost:5000/link';
      axios.post(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience přidána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getRecipeIngreds();
        });
    },

    updateInRecipe(link) {
      const payload = {
        link_id: link.id,
        amount: link.amount,
      };

      const path = `http://localhost:5000/link`;
      axios.put(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience upravena!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },

    removeFromRecipe(link) {
      const path = 'http://localhost:5000/link';
      axios.delete(path, { data: { link_id: link.id } })
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience smazána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },

    onSubmitUpdateRecipe(evt) {
      evt.preventDefault();
      this.$refs.editRecipeModal.hide();

      const payload = {
        recipe_id: this.recipeID,
        name: this.editForm.name,
        fuel: this.editForm.fuel,
        notes: this.editForm.notes,
      };

      const path = 'http://localhost:5000/recipe';
      axios.put(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Recept upraven!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },
  
    onSubmitCreateRecipe(evt) {
      evt.preventDefault();
      this.$refs.createRecipeModal.hide();

      const payload = {
        name: this.createForm.name,
        fuel: this.createForm.fuel,
        notes: this.createForm.notes,
      };

      const path = 'http://localhost:5000/recipe';
      axios.post(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.getRecipeList();
          this.message = 'Recept vytvořen!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
          this.getRecipeList();
        });
    },

    deleteRecipe() {
      const path = 'http://localhost:5000/recipe';
      axios.delete(path, { data: { recipe_id: this.recipeID } })
        .then(() => {
          this.recipeID= this.recipelist[0].id;
          this.getRecipeIngreds();
          this.getRecipeList();
          this.message = 'recept smazán!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
          this.getRecipeList();
        });
        
    },
  
    changeRecipe(recipe) {
    this.recipeID=recipe.id;
    this.getRecipeIngreds();
    this.getRecipeList();
    },
  },

  created() {
    this.getRecipeList();
    this.getIngreds();
    this.getRecipeIngreds();
///    this.createdPlotly();
  },
};
</script>
