<template>
  <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">NavBar</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#">Link</b-nav-item>
        <b-nav-item href="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      recipeID:1,
      ingredients: [],
      recipe: [],
      message: '',
      showMessage: false,
      editForm:{
        name:'',
        fuel:'',
        notes:'',
      }
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
     initForm() {
      this.editForm.name = this.recipe.name;
      this.editForm.notes = this.recipe.notes;
      this.editForm.fuel = this.recipe.fuel;
    },
    getIngreds() {
      const path = 'http://localhost:5000/ingreds';
      axios.get(path)
        .then((res) => {
          this.ingredients = res.data.ingredients;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      },

    getRecipeIngreds() {

      const path = `http://localhost:5000/recipe?recipe_id=${this.recipeID}`;
      axios.get(path)
        .then((res) => {
          this.recipe = res.data.recipe;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    addToRecipe(ingred) {
      const payload = {
        recipe_id:this.recipeID,
        ingred_id: ingred.id,
        amount: ingred.amount,
      };

      const path = 'http://localhost:5000/link';
      axios.post(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience přidána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getRecipeIngreds();
        });
    },

    updateInRecipe(link) {
      const payload = {
        link_id: link.id,
        amount: link.amount,
      };

      const path = `http://localhost:5000/link`;
      axios.put(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience upravena!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },

    removeFromRecipe(link) {
      const path = 'http://localhost:5000/link';
      axios.delete(path, { data: { link_id: link.id } })
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Ingredience smazána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },

    onSubmitUpdateRecipe(evt) {
      evt.preventDefault();
      this.$refs.editRecipeModal.hide();

      const payload = {
        recipe_id: this.recipeID,
        name: this.editForm.name,
        fuel: this.editForm.fuel,
        notes: this.editForm.notes,
      };

      const path = 'http://localhost:5000/recipe';
      axios.put(path, payload)
        .then(() => {
          this.getRecipeIngreds();
          this.message = 'Recept upraven!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getRecipeIngreds();
        });
    },
  
    onCancelUpdateRecipe(evt) {
      evt.preventDefault();
      this.$refs.editRecipeModal.hide();
    },
  },

  created() {
    this.getRecipeIngreds();
    this.getIngreds();
  },
};
</script>
