<template>
  <div>
    <multiselect :options="this.cookielist" :dayId="this.dayId" target='cookies' @reloadDiet="reloadDiet()"></multiselect>
      <table>
        <div v-for="(cookie, index) in link" :key="index">  
          <tr>
            <td>
              <quick-edit v-model="cookie.count" type="number" @input="editAmount($event,cookie.id)">{{cookie.count}} x</quick-edit> </td><td>  {{cookie.cookie.name}}<button  type="button" class="btn btn-danger btn-sm"  @click="deleteCookie(cookie.cookie.id)">
              x
              </button>
            </td>
          </tr>
        </div>      
      </table>
  </div>      
</template>

<script>
import Multiselect from './Multiselect.vue'
import { eventBus } from '../../main';
import axios from 'axios';
import QuickEdit from 'vue-quick-edit';

export default {
        props: ['link','dayId'],
        methods: {
  reloadDiet() {
    this.$emit('reloadDiet');
  },

    deleteCookie(cookie_id) {
      const path = `http://localhost:5000/day?cookie_id=${cookie_id}&day_id=${this.dayId}`;
      axios.delete(path)
        .then(() => {
          this.$emit('reloadDiet');
        })
        .catch((error) => {
          this.$emit('reloadDiet');
          console.log(error);
        });},

    energySuma(){
      var a=[0,0,0];
      for(var i in this.link) 
      {
        a[0]+=Number(this.link[i].count*this.link[i].cookie.energy*this.link[i].cookie.weight/100);
      }

      for(var i in this.link) 
      {
        a[1]+=Number(this.link[i].count*this.link[i].cookie.weight);
      }

      for(var i in this.link) 
      {
        a[2]+=Number(this.link[i].count*this.link[i].cookie.prot*this.link[i].cookie.weight/100);
      }



      this.$emit('energy',a[0],a[1],a[2]);
    },
    
    editAmount(value,linkId)  {
      this.energySuma();
      
      const payload = {
        count:value
      };
      const path = `http://localhost:5000/day?cookieLink=${linkId}`;
      axios.put(path, payload)
        .then(() => {
         // this.getDiet();
          this.message = 'Den přidán!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.energySuma();
          this.getDiet();
        });
        },},
        components: {
    multiselect: Multiselect,
    QuickEdit,
},
  created() {
    this.cookielist=eventBus.cookielist;
          this.energySuma();
  },
};
</script>
