/* eslint-disable */

<template>
    <div>
            <h2 aling="center">Den {{day.name}}<button type="button" class="btn btn-danger btn-sm"  @click="deleteDay(day.id)">
        Smazat
        </button></h2>

            <b-container fluid>         
                <b-row>
                    <b-col>
                        <p>Popis: {{day.notes}}</p>
                        <p>Počet kilometrů: {{day.kilometers}}</p>
                        <p>Převýšení: {{day.elevation}}</p>
                        <p>Energie: {{day.energy_required}}</p>
                        <p>Energie součet: {{this.sumEnergy[0]}} kJ</p>
                        <p>Váha: {{this.sumEnergy[1]}} g</p>
                        <p>Protein: {{this.sumEnergy[2]}} g</p>

                    </b-col>
                    <b-col>
                        <h3>Jídlo</h3>
                        <meal :link="day.link_meals" :dayId="day.id" @energy="this.mealEnergySet" @reloadDiet="reloadDiet()"></meal>
                    </b-col>
                    <b-col>
                        <h3>Sušenky</h3>
                        <cookie :link="day.link_cookies" @energy="this.cookieEnergySet" :dayId="day.id" @reloadDiet="reloadDiet()"></cookie>
                    </b-col>
                </b-row>
            </b-container>
    </div>
</template>

<script>

import axios from 'axios';
import Alert from '../Alert.vue';

import Cookie from './Cookie.vue';
import Meal from './Meal.vue';

export default {
        props: ['day'],
        data()
        {
    return {
          cookieEnergy:[0,0,0],
          mealEnergy:[0,0,0],
          sumEnergy:[0,0,0],
    }
        },
        methods: {
          cookieEnergySet(a,b,c){
            this.cookieEnergy[0]=a;
            this.cookieEnergy[1]=b;
            this.cookieEnergy[2]=c;
          },          
          
          mealEnergySet(a,b,c){
            this.mealEnergy[0]=a;
            this.mealEnergy[1]=b;
            this.mealEnergy[2]=c;
          },
          cookieEnergySet(a,b,c){
            this.cookieEnergy[0]=a;
            this.cookieEnergy[1]=b;
            this.cookieEnergy[2]=c;
            this.sumEnergySet();
          },          
          
          mealEnergySet(a,b,c){
            this.mealEnergy[0]=a;
            this.mealEnergy[1]=b;
            this.mealEnergy[2]=c;
            this.sumEnergySet();
          },

          sumEnergySet(){
            for(var i=0;i<3;i++)
            {
              this.sumEnergy[i]=this.mealEnergy[i]+this.cookieEnergy[i]
            }
          },


            initForm() {},
            onSubmitUpdateRecipe() {},
            editForm(){},
  reloadDiet(){
    this.$emit('reloadDiet');
  },
/*    calculateEnergy() {
      
      var total=0;
      for(var i in this.recipe.link_ingreds) 
        {
          arr[0]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.prot/100);
          arr[1]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.carb/100);
          arr[2]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.fat/100);
        }      

var arr=[0,0,0]
for(var i in this.recipe.link_ingreds) 
{
arr[0]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.prot/100);
arr[1]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.carb/100);
arr[2]+=(this.recipe.link_ingreds[i].amount*this.recipe.link_ingreds[i].ingred.fat/100);
}
this.totalEnergy=total;
    },
*/
    deleteDay(id) {
      const path = `http://localhost:5000/day?id=${id}`;
      axios.delete(path)
        .then(() => {
          this.$emit('reloadDiet');
          this.message = 'Ingredience smazána!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.$emit('reloadDiet');
        });
    },
        },
  components: {
    cookie: Cookie,
    meal: Meal,
  },
  created(){
  },
};
</script>

<style>
b-container {
  background-color: green;
  opacity: 0.3;
}
</style>
