<template>
  <div>
    <diet-header :diet="this.eventbus.diet"></diet-header>

    <div v-for="(day, index) in this.eventbus.diet.days" :key="index">
      <day :day="day" @reloadDiet="this.eventbus.getDiet()"></day>
    </div>

<button type="button" class="btn btn-success btn" @click="addDay()">
          Přidat den
      </button>
  </div>
</template>

<script>
import axios from 'axios';
import { eventBus } from '../../main';

import Alert from '../Alert.vue';
import Header from './Header.vue';
import Day from './Day.vue';

export default {
  data() {
    return {
      message: '',
      showMessage: false,
      editForm: {
        name: '',
        fuel: '',
        notes: '',
      },
      createForm: {
        name: '',
        fuel: '',
        notes: '',
      },
    };
  },
  components: {
    dietHeader: Header,
    alert: Alert,
    day: Day,
    eventbus:eventBus,
  },
  methods: {

    addDay() {
      const payload = {
        id:this.eventbus.dietID,
        name: ""
      };

      const path = 'http://localhost:5000/day?day';
      axios.post(path, payload)
        .then(() => {
          //eventBus.getDiet();
          this.message = 'Den přidán!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          //eventBus.getDiet();
        });
    },
},  
created() {
  },
};
</script>
