/* eslint-disable */

<template>
    <div>

        <h1>{{diet.name}} <button type="button" class="btn btn-danger btn-sm"  @click="deleteDiet()">
        Smazat
        </button>
        <button type="button" class="btn btn-info btn-sm" v-b-modal.diet-update-modal @click="initForm()">
          Editovat
        </button>
        </h1>
        
        
        <hr>
        <p>Popis: {{diet.notes}}</p>
        <p>Počet kilometrů: {{diet.kilometers}}</p>
        <p>Převýšení: {{diet.elevation}}</p>
        <p>Energie: {{diet.energy_required}}</p>
        
        


            <b-modal ref="editDietModal"
                id="diet-update-modal"
                title="Upravit recept"
                hide-footer>
        <b-form @submit="onSubmitUpdateDiet" class="w-100">
        <b-form-group id="form-name-edit-group"
                        label="Název:"
                        label-for="form-name-edit-input">
            <b-form-input id="form-name-edit-input"
                            type="text"
                            v-model="editForm.name"
                            required
                            placeholder="Název jídla">
            </b-form-input>
            </b-form-group>

            <b-form-group id="form-notes-edit-group"
                        label="Recept:"
                        label-for="form-notes-edit-input">
                <b-form-input id="form-notes-edit-input"
                            type="text"
                            v-model="editForm.notes"
                            
                            placeholder="Recept">
                </b-form-input>
            </b-form-group>

            <b-form-group id="form-fuel-edit-group"
                        label="Palivo:"
                        label-for="form-fuel-edit-input">
                <b-form-input id="form-fuel-edit-input"
                            type="number"
                            v-model="editForm.fuel"
                            
                            placeholder="Množství paliva">
                </b-form-input>
            </b-form-group>


            <b-button-group>
            <b-button type="submit" variant="primary">Update</b-button>
            </b-button-group>
        </b-form>
        </b-modal>
    </div>  
</template>

<script>
export default {
        props: ['diet'],
        methods: {
            initForm() {},
            onSubmitUpdateRecipe() {},
            editForm(){},
            onSubmitUpdateDiet(){},
        },
};
</script>
