<template>
<div>
    <multiselect :options="this.eventBus.recipelist" :dayId="this.dayId" target='meals' @reloadDiet="reloadDiet()"></multiselect>
    <table>
    <div v-for="(link, index) in link" :key="index">
        <tr>
        <td>
       <quick-edit v-model="link.energy" type="number" @input="editEnergy($event,link.id)">{{link.energy}} Kj</quick-edit> </td><td> {{link.recipes.name}} <button  type="button" class="btn btn-danger btn-sm"  @click="deleteMeal(link.recipes.id)">
        x
        </button></td>
        </tr>
    </div>      
    </table>

    </div>  

</template>

<script>
import Multiselect from './Multiselect.vue'
import { eventBus } from '../../main';
import axios from 'axios';
import QuickEdit from 'vue-quick-edit';

export default {
        props: ['link','dayId'],
          data () {
  return { 
    }
},
methods: {
  reloadDiet(){
    this.$emit('reloadDiet');
    this.energySuma()
  },
  
  energySuma(){
            var a=[0,0,0];
      for(var i in this.link) 
      {
        a[0]+=Number(this.link[i].energy);
      }

/*
      for(var i in this.link) 
      {
        a[1]+=this.link[i].count*this.link[i].cookie.weight;
      }

      for(var i in this.link) 
      {
        a[2]+=this.link[i].count*this.link[i].cookie.prot*this.link[i].cookie.weight;
      }
*/
      this.$emit('energy',a[0],0,0);
    },

  deleteMeal(recipe_id) {
      const path = `http://localhost:5000/day?recipe_id=${recipe_id}&day_id=${this.dayId}`;
      axios.delete(path)
        .then(() => {
          this.$emit('reloadDiet');
        })
        .catch((error) => {
          this.$emit('reloadDiet');
          console.log(error);
        });},
  
  editEnergy(value,linkId)  {
      this.energySuma();
      
      const payload = {
        energy:value
      };
      const path = `http://localhost:5000/day?mealLink=${linkId}`;
      axios.put(path, payload)
        .then(() => {
          //this.getDiet();
          this.message = 'Den přidán!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getDiet();
          this.energySuma();
        });
        },

},

components: {
    multiselect: Multiselect,
QuickEdit,
},
  created() {
    this.energySuma();
  },
};
</script>