<template>
<div>
  <multiselect v-model="value" 
  tag-placeholder="Add this as new tag" placeholder="Vyhledej jídlo" 
  label="name" track-by="id" 
  :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
  <button type="button" class="btn btn-success btn" @click="addFromMultiselect()">
    Přidat
    </button>
 <!--<pre class="language-json"><code>{{ value  }}</code></pre> -->

</div>
</template>

<script>
import axios from 'axios';
import Multiselect from 'vue-multiselect'

export default {
        props: ['options','dayId','target'],
  components: {
    Multiselect
  },
  data () {
    return {
      value: []    
      }
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
addFromMultiselect() {
      const path = `http://localhost:5000/day?${this.target}&day_id=${this.dayId}`;
      axios.post(path, this.value)
        .then(() => {
          this.value= []; 
          this.$emit('reloadDiet');
          this.message = 'Den přidán!';
          this.showMessage = true;
        })
        .catch((error) => {
          this.value= []; 
          this.$emit('reloadDiet');
          console.log(error);
        });
    },

  }
}
</script>

<!---
 {
      "carb": 72.6,
      "energy": 2032,
      "fat": 19,
      "id": 52,
      "name": "Lotusky",
      "prot": 5
    }
-->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>